[submodule "ESP32C3/components/AHT"]
	path = ESP32C3/components/AHT
	url = https://github.com/adafruit/Adafruit_AHTX0.git
[submodule "ESP32C3/components/ENS"]
	path = ESP32C3/components/ENS
	url = https://github.com/sciosense/ENS160_driver.git
[submodule "ESP32C3/components/adafruit_sensor"]
	path = ESP32C3/components/adafruit_sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "ESP32C3/components/busyIO"]
	path = ESP32C3/components/busyIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
